
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$grediantClr : linear-gradient(
    to bottom, 
    #0a002c00,
    #0a002c2d 15%,
    #0a002c 85%,
  );

$bodyText : 'Tinos', serif;
$menuText: 'DM Serif Display', serif;
$heading: 'Bebas Neue', cursive;
$shadow : 2px 2px 5px rgb(18, 22, 18);